.answerit{
    margin-left: 22vw;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 78vw;
    padding: 20px;

}
.answerit textarea{
    max-width:96% ;
    min-width: 96%;
    background: rgb(209, 209, 209);
    border-radius: 5px;
    outline:2px solid #FFBF00;
    font-size: 15px;
    color: #000;
}
.answerit input[type="submit"]{
    width: 97%;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: lavender;
    background: #FFBF00;
    border: none;
}
strong{
    color: #FFBF00;
}